body {
    font-size: 16px;
    font-family: 'aldo', sans-serif;
    background: #233D58;
    position: relative;
}

@media screen and (min-width: 480px) {
    body {
        background: #233D58;
    }
}

@media screen and (min-width: 600px) {
    body {
        background: #233D58;
    }
}

@media screen and (min-width: 767px) {
    body {
        background: #233D58;
    }
}

@media screen and (min-width: 950px) {
    body {
        background: #233D58;
    }
}