        body {
            font-size: 16px;
            font-family: 'aldo', sans-serif;
            background: #233D58;
            position: relative;
        }
        
        header {
            width: 100%;
            height: 35px;
            background: #233D58;
            position: relative;
        }
        
        header h1 {
            display: none;
        }
        
        header nav .ioMenuMovil {
            height: 25px;
            width: 120px;
            cursor: pointer;
            line-height: 45px;
            margin: 0px 0px 0px 10px;
            padding-top: 5px;
        }
        
        header nav .ioMenuMovil img {
            height: 100%;
        }
        
        header nav #card_menu {
            display: none;
            position: relative;
            width: 230px;
            background: white;
            top: -30px;
            left: 0px;
            border-right: 3px solid #afaeae;
            display: block;
            z-index: 999;
            padding-bottom: 20px;
        }
        
        header nav #card_menu #logo_menu {
            height: 200px;
            width: 80%;
            margin: 30px 0px;
            margin-left: 10%;
            text-align: center;
            margin-bottom: 50px;
        }
        
        header nav #card_menu #logo_menu img {
            width: 100%;
        }
        
        header nav #card_menu ul {
            margin-top: -20px;
        }
        
        header nav #card_menu ul li {
            list-style: none;
            font-size: 1.5em;
            line-height: 37px;
        }
        
        header nav #card_menu ul li a {
            text-decoration: none;
            color: black;
        }
        
        header #prev_section,
        header #next_section {
            width: 25px;
            height: 25px;
            cursor: pointer;
            margin: 5px;
            position: absolute;
            top: 0px;
        }
        
        header #prev_section {
            right: 35px;
        }
        
        header #next_section {
            right: 5px;
        }
        
        header #prev_section img,
        header #next_section img {
            width: 250%;
            top: -15px;
            left: -15px;
            position: relative;
        }
        
        header #next_section img {
            transform: rotate(180deg);
        }
        
        #slider {
            width: 100%;
            position: relative;
            height: 600px;
        }
        
        #slider section.slide {
            position: absolute;
            width: 100%;
            top: 0px;
            left: 0px;
        }
        
        #slider #home {
            background: #233D58;
            font-family: "aller";
            position: relative;
            text-align: center;
            padding-bottom: 50px;
        }
        
        #slider #home .mainanimation {
            background: red;
            width: 80%;
            position: absolute;
            margin-left: 10%;
            min-height: 300px;
        }
        
        #slider #home .mainlogo {
            background: none;
            position: relative;
            background: seagreen;
            width: 60vw;
            margin-left: 20vw;
            min-height: 430px;
            /* background: rgba(35,61,88,0.8); */
        }
        
        #slider #home .mainlogo h2 {
            font-size: 1.2em;
            padding-top: 80px;
            color: white;
            font-weight: lighter;
            /* position: relative;
            text-align: center; */
        }
        
        #slider #home .mainlogo strong {
            font-family: "aldo";
            font-size: 2em;
            display: block;
        }
        
        #slider #home .mainlogo figure,
        #slider #home .mainlogo figure img {
            width: 100%;
            margin: 0px;
        }
        
        #slider #aboutme {
            height: 400px;
            background: red;
        }
        
        #slider #skills {
            height: 300px;
            background: mediumseagreen;
        }
        
        #slider #portfolio {
            height: 200px;
            background: darkmagenta;
        }
        
        #slider #blog {
            height: 100px;
            background: cornflowerblue;
        }
        
        #contact_form {
            position: absolute;
            width: 250;
            margin-left: -250px;
            right: 0px;
            top: 35px;
            background: white;
            width: 250px;
            border-top: 1px solid black;
            box-shadow: 0px 0px 3px #9F9E9E;
            font-family: 'aller';
            height: 100vh;
            z-index: 999;
            display: none;
        }
        
        #contact_form #close_form {
            position: absolute;
            width: 30px;
            height: 30px;
            left: 85%;
            top: 190px;
        }
        
        #contact_form #close_form:hover {
            cursor: pointer;
        }
        
        #contact_form #close_form:before {
            font-family: 'icomoon';
            content: "\e923";
            font-size: 1em;
            top: 5px;
            left: 9px;
            position: relative;
        }
        
        #contact_form figure {
            height: 180px;
            width: 100%;
            margin: 0px;
            padding: 0px;
            text-align: center;
            background: #29abe2;
        }
        
        #contact_form figure img {
            height: 100%;
            margin: 0px;
        }
        
        #contact_form p {
            margin: 20px;
            width: 90%;
            margin-left: 5%;
        }
        
        #contact_form input,
        #contact_form textarea {
            display: block;
            margin: 20px;
            border: none;
            border-bottom: 2px solid gray;
            width: 90%;
            margin-left: 5%;
            padding-bottom: 3px;
            margin-bottom: 50px;
            font-weight: bold;
        }
        
        #contact_form #button {
            background: #F8931F;
            color: white;
            border: none;
            padding: 8px 0px;
            border-radius: 5px;
        }
        
        #contact_button {
            width: 60px;
            height: 60px;
            background: rebeccapurple;
            border-radius: 50%;
            color: white;
            z-index: 80;
            right: 10px;
            position: fixed;
            top: 80vh;
        }
        
        #contact_button:hover {
            cursor: pointer;
        }
        
        #contact_button:before {
            font-family: 'icomoon';
            content: "\e925";
            position: relative;
            font-size: 3.9em;
            top: -6px;
            left: -2px;
        }
        
        @media screen and (min-width: 480px) {
            #slider #home .mainlogo {
                width: 270px;
                left: 50%;
                margin-left: -135px;
            }
            #slider #home .mainlogo h2 {
                font-size: 1.4em;
            }
        }
        
        @media screen and (min-width: 600px) {
            body {
                background: orangered;
            }
        }
        
        @media screen and (min-width: 767px) {
            body {
                background: greenyellow;
            }
            header {
                height: 50px;
            }
            header h1 {
                display: inline-block;
                width: 20%;
                margin: 0px;
                height: 50px;
                margin-left: 80px;
                line-height: 50px;
                min-width: 200px;
            }
            header h1>* {
                display: inline-block;
                vertical-align: middle;
                text-decoration: none;
                color: white;
                font-weight: lighter;
                font-size: 0.8em;
                margin: 0px 3px;
            }
            header h1 figure {
                height: 40px;
                width: 40px;
                margin: 0px;
            }
            header h1 figure img {
                width: 100%;
            }
            header nav {
                display: inline-block;
                vertical-align: middle;
                width: 62%;
                position: relative;
            }
            header nav #showMenu,
            header nav #hideMenu {
                display: none;
            }
            header nav #card_menu {
                display: inline-block;
                border: none;
                background: none;
                position: relative;
                top: 0px;
                width: 100%;
                text-align: right;
                padding-bottom: 0px;
            }
            header nav #card_menu figure {
                display: none;
            }
            header nav #card_menu ul {
                padding: 0px;
                margin: 0px;
                margin-top: -15px;
            }
            header nav #card_menu ul li {
                display: inline-block;
                width: 75px;
                text-align: center;
                font-size: 1.2em;
                margin: 0px -2px;
            }
            header nav #card_menu ul li a {
                color: white;
            }
            header #prev_section,
            header #next_section {
                position: absolute;
                width: 45px;
                height: 45px;
                overflow: visible;
                background: #29abe2;
                right: 40px;
                z-index: 999;
                border-radius: 50px;
            }
            header #prev_section {
                top: 115px;
            }
            header #next_section {
                top: 190px;
            }
            header #prev_section img,
            header #next_section img {
                width: 100%;
                top: 0px;
                left: 0px;
            }
            #contact_form {
                top: 50px;
                width: 400px;
            }
            #contact_button {
                right: 35px;
            }
        }
        
        @media screen and (min-width: 950px) {
            body {
                background: red;
            }
        }